[submodule "git-and-github"]
	path = git-and-github
	url = https://github.com/DouglasUrner/Common-Git-and-GitHub.git
	branch = master
[submodule "common-info"]
	path = info
	url = https://github.com/DouglasUrner/Common-Info.git
	branch = master
